<html>
    <body>
         <form action="/promocoes" method="post">
            <div>
                <input type="text" name="mensagem"/>
            </div>
            <div>
                <select id="livro" name="livro[id]" >
                    <% for (var i = 0; i < produtos.length; i++) { %>
                        <option value="<%=produtos[i].id%>"><%=produtos[i].titulo%></option>
                    <% } %>   
                </select>
            </div>            
            <input type="submit" value="Lançar"/>
        </form>
    </body>
</html>